/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/**
 * end reset
 */

body {
   font-size:medium;
   font-family:'Open Sans', sans-serif;
   text-align: center;
   font-weight:300;
	
}

.section {
	padding:20px;
	display:block;
}

.highlight {
	color:#2F6FAD; 
	font-weight:600;
}

.divider {
	background:#E2CB56;
	width:80%;
	height:15px;
	margin-left:10%;
	margin-right:10%;
}

.logo {
	max-width:90%;
	width:auto;
	height:auto;
	position:relative; 
	height: 400px;
	margin-top:100px
}

.heading {
  font:400 300% 'Oswald', cursive;
  text-align: center;
  text-transform: uppercase;
  padding:10px;
}

/*text colors ===================================================== */
.yellow {
	color:#E2CB56;
}

.navy {
	color:#281D2D;
}

.white {
	color:#FFFFFF;
}


/*==============================================================header*/

header#welcome{
  background-image: url(http://news.psu.edu/sites/default/files/styles/threshold-992/public/Old_Main_Clouds_01.jpg);
  background-position: center;
  color: white;
  text-align: center;
  background-attachment: scroll;
  background-repeat: none;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  height: 768px;
}

.yellowbutton {
	font-size:200%;
	background:#E2CB56;
	color:#281D2D; 
	padding:10px; 
	font-family:'Oswald', cursive; 
	border-radius:12px;
	text-align:center;
	margin-right:auto;
	margin-left:auto;
	white-space: normal;
	
} .yellowbutton:hover{
	background: #B7A142;
	color:#281D2D; 
}

.hackpsunav {
	background:#E2CB56 !important;
	color:#281D2D !important;
	font:700 150% 'Oswald', sans-serif;
	text-transform: uppercase;
	border:none !important;
	
}

.hackpsunavbtn {
	background:#E2CB56;
} .hackpsunavbtn:hover {
	background:#BFA537 !important;
}
/*about=====================================================================*/


/*fluff=======================================================*/
.fluff-container{
	padding:20px;


  }
  
  
#oldmain{
	background-repeat: no-repeat;
	background-size:cover;
	background-position:center;
	background-attachment:scroll;
	width:100%;
}

 
 .fluff{
	float:none;
	display:inline-block;
	vertical-align:middle;
	width:90px;
	text-align:center;
	min-width:25%;

 }
 
 .flufftext{
	margin:auto;
	text-align:center;
	color:white;
	font-size:30px;
	font-family: 'Open Sans', sans-serif;	
	font-weight:300;
	/*font-family: 'Roboto Slab', serif;*/
 }
 
 /*FAQ========================================================================*/

 .question{
	font: bold 150% 'Open Sans', sans-serif;
	color:#2F6FAD;
	text-align:left;
	}
 
 .answer {
	font: 300 150% 'Open Sans', sans-serif;
	text-align:left;
 }
 

 
 /*quote==================================================================*/
 
 #istBackground{
	background-repeat: no-repeat;
	background-size:cover;
	background-attachment:scroll;
	width:100%;
	height: 500px;
	background-position:center;
}

 /*sponsors=============================================================*/

.sponsor{
	text-align:center;
	padding:10px;
	opacity:0.6;
	-webkit-transition: all ease 500ms;
	-moz-transition: all ease 500ms;
	-o-transition: all ease 500ms;
	-ms-transition: all ease 500ms;
	transition: all ease 500ms;

}
.sponsor:hover{
	opacity:1;
	-webkit-transition: all ease 500ms;
	-moz-transition: all ease 500ms;
	-o-transition: all ease 500ms;
	-ms-transition: all ease 500ms;
	transition: all ease 500ms;
}


/*contact===============================================================*/

.contact{
display:block;
}
.contactIcon{
	margin:auto;

}
.contactIcon:hover{
	opacity:1;
}

#contactTable{
	margin:auto;

	text-align:center;
	color:white;
}
.contactTitle{
	padding-top:10px;
	color:#52b3d9;
	font-weight:700;
	font-size:50px;
	font-family: 'Oswald', cursive;
	}
	
.contactText{
	color:white;
	font-weight:300;
	width:200px;
	margin-top:0;
	margin:auto;
	float:top;

}



