/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/**
 * end reset
 */

body {
   font-size:medium;
	
}

.heading {
  font-family: 'Oswald', cursive;
  font-weight: 400;
  font-size: 200%;
  text-align: center;
  text-transform: uppercase;
}

/*==============================================================header*/

header#welcome{
  background-image: url(http://news.psu.edu/sites/default/files/styles/threshold-992/public/Old_Main_Clouds_01.jpg);
  background-position: center;
  color: white;
  text-align: center;
  background-attachment: scroll;
  background-repeat: none;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  height: 650px;
}

.button {
	font-size:200%;
	background:#E2CB56;
	color:#281D2D; 
	padding:10px; 
	margin:10px; 
	font-family:'Oswald', cursive; 
	border-radius:12px
	
}

.hackpsunav {
	background:#E2CB56 !important;
	color:#281D2D !important;
	font:700 150% 'Oswald', sans-serif;
	text-transform: uppercase;
	border:none !important;
	
}

.hackpsunavbtn {
	background:#E2CB56;
} .hackpsunavbtn:hover {
	background:#BFA537 !important;
}
/*about=====================================================================*/

.aboutText{
	padding-top:30px;
	padding-bottom:50px;
	font-family: 'Open Sans', sans-serif;
    font-size:20px;
	width:70%;
	text-align: justify;
	margin:auto;
	font-weight:400;
	height:100%;
	display:block;
}


#hex {
width:100%;
background-position: top left;
background-repeat: no-repeat;
background-size:contain;

}

/*fluff=======================================================*/
.fluff-container{
  position: relative;
  top: 50%;
  transform: translateY(-50%);

  }
  
  
#oldmain{

background-repeat: no-repeat;
background-size:cover;
background-position:center;
background-attachment:scroll;
width:100%;
height: 500px;

}

 
 .fluff{
     float:none;
    display:inline-block;
    vertical-align:middle;
	width:90px;
	padding-top:20px;
	text-align:center;

 }
 
 .flufftext{
	margin:auto;
	text-align:center;
	color:white;
	font-size:30px;
	font-family: 'Open Sans', sans-serif;	
	font-weight:300;
	/*font-family: 'Roboto Slab', serif;*/
 }
 
 /*FAQ========================================================================*/
 #faq {
  background-color: #555758;
  position:relative;
  top:-100px;
  padding-bottom:100px;
}
.faq-heading{
	position:relative;
	top:40px;
}
 .question{

	font-size: 18px;
	background-color:#52b3d9;
	padding: 20px 20px;
	font-weight:bold;
	position:relative;
	 top:-10px;

	}
 
 .answer {
	 text-align:justify;
padding:10px;
 }
 
 .card{
	margin:auto;
	height:300px;
	width:325px;
	margin-top:25px;
	color:#393e41;
 	background-color:white;
	opacity:0.8;
	-webkit-transition: all ease 500ms;
	-moz-transition: all ease 500ms;
	-o-transition: all ease 500ms;
	-ms-transition: all ease 500ms;
	transition: all ease 500ms;
	-webkit-box-shadow: 10px 10px 45px 2px rgba(0,0,0,0.3);
	-moz-box-shadow: 10px 10px 45px 2px rgba(0,0,0,0.3);
	box-shadow: 10px 10px 45px 2px rgba(0,0,0,0.3);
	display:inline-block;
 }
 .card:hover {
	opacity:1;
	-webkit-transition: all ease 500ms;
	-moz-transition: all ease 500ms;
	-o-transition: all ease 500ms;
	-ms-transition: all ease 500ms;
	transition: all ease 500ms;
 }
 
.faq-container{
text-align:center;
padding:5px;
margin-top:20px;
padding-bottom:40px;
margin:auto;
width:100%;
 }
 
 /*quote==================================================================*/
 
 #istBackground{
 position:relative;
 top:-100px;
background-repeat: no-repeat;
background-size:cover;
background-attachment:scroll;
width:100%;
height: 500px;
background-position:center;
}

 /*sponsors=============================================================*/
#sponsors {
display:block !important
}
#sponsorTable{
padding-top:50px;
padding-bottom:50px;
}

#sponsorBtn {
	margin:auto;
	width:400px;
	border-color:#52b3d9;
}
#sponsorBtn:hover{
	width:450px;
}

.sponsor{
	text-align:center;
	padding:10px;
	opacity:0.6;
	-webkit-transition: all ease 500ms;
	-moz-transition: all ease 500ms;
	-o-transition: all ease 500ms;
	-ms-transition: all ease 500ms;
	transition: all ease 500ms;

}
.sponsor:hover{
	opacity:1;
	-webkit-transition: all ease 500ms;
	-moz-transition: all ease 500ms;
	-o-transition: all ease 500ms;
	-ms-transition: all ease 500ms;
	transition: all ease 500ms;
}


/*contact===============================================================*/

.contact{
padding:30px;
}
.contactIcon{
	padding:20px;
	opacity:0.6;
	margin:auto;

}
.contactIcon:hover{
	opacity:1;
}

#contactTable{
	margin:auto;

	text-align:center;
	color:white;
}
.contactTitle{
	padding-top:10px;
	color:#52b3d9;
	font-weight:700;
	font-size:50px;
	font-family: 'Oswald', cursive;
	}
	
.contactText{
	color:white;
	font-weight:300;
	width:200px;
	margin-top:0;
	margin:auto;
	float:top;

}



#footer{
color:white;
background-color:#393e41;
width:100%;
}
